<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title"><a href="~/">Episodes</a></p>
        </div>
    </div>
</header>
<div id="body">
    <div id="subscriptions">
        <ul>@*
            <li class="pane1">         
                <section class="content-wrapper main-content clear-fix">
                    <div id="episodeList">
                        <ul class="episode-list" data-bind="foreach: episodes">
                            <li>
                                <form>
                                <span data-bind="text: Title"></span>
                                <input type="checkbox" data-bind="checked: ListenedTo">
                                </form>
                            </li>
                        </ul>
                        <button data-bind="click: save">Save</button>
                    </div>
                    <div id="logmessages">
                    </div>
                </section>
            </li>
            <li class="pane2">
                <div class="pane-content">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis leo non lacus faucibus suscipit. Morbi nec purus mauris. Fusce eleifend nunc vitae ante fringilla at commodo diam ultricies. Vestibulum pulvinar mauris ut lectus mollis in cursus nibh facilisis. Suspendisse venenatis suscipit vulputate. Nulla tincidunt malesuada tempus. Nullam elit lectus, sodales a porttitor et, condimentum id nisl. Fusce in mi pellentesque est imperdiet tristique. Vivamus vestibulum sapien ut sem lobortis auctor bibendum enim viverra. Pellentesque sit amet auctor nulla. In iaculis molestie dignissim. Vivamus sollicitudin vestibulum odio, a lobortis ligula porta at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac accumsan lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi faucibus porttitor purus quis scelerisque. Etiam interdum commodo ligula sagittis volutpat. Vestibulum tellus nunc, fermentum nec sodales eu, varius id dui. Integer aliquam pellentesque justo nec vulputate. Proin in sagittis sapien. Suspendisse turpis diam, molestie quis eleifend eget, ultricies vitae nunc.
                    </p>
                    <p>
                    Nullam id diam urna. Suspendisse fringilla, risus at viverra elementum, erat nulla ultricies risus, vel semper sapien quam sit amet tellus. Nullam posuere nulla ut libero fringilla in mattis nulla auctor. Aenean sagittis ante in tellus faucibus dictum. In pellentesque orci non urna commodo sed aliquam ipsum posuere. Vivamus fermentum turpis vel nibh gravida fermentum at id orci. Nullam in ultricies est. Phasellus pharetra nunc dictum nisl lacinia pretium. Donec rhoncus, mauris tempus dapibus laoreet, lectus ligula venenatis ante, sed faucibus erat felis eu turpis. Cras vitae tellus sit amet augue ultricies tristique sit amet quis lectus. Nullam fringilla nisi non nisl placerat quis egestas nisl consequat. Donec et felis euismod velit semper condimentum ac vitae metus. Proin suscipit ipsum pretium magna gravida eu aliquam dolor mollis. Ut bibendum odio non dui ullamcorper sit amet pellentesque sem cursus.
                    </p>
                    <p>
                    Curabitur lobortis, velit vitae auctor auctor, turpis felis accumsan metus, non elementum elit ante a arcu. Phasellus massa leo, imperdiet eget sollicitudin non, sodales sed libero. Sed sodales, neque in pharetra laoreet, nulla enim consequat ligula, ut cursus nibh massa sed velit. Sed congue ultrices consequat. Phasellus molestie adipiscing ipsum, id hendrerit velit luctus eu. Nullam vitae libero nec magna pulvinar sollicitudin id nec tortor. Nulla at felis eget augue sollicitudin tristique. Donec iaculis scelerisque consequat. Aenean fringilla mattis tristique. Suspendisse potenti. Pellentesque varius elit ut justo mattis molestie. Suspendisse potenti. Pellentesque sagittis magna eget velit venenatis ac condimentum justo semper. Suspendisse sed feugiat enim. Cras aliquet urna sed massa placerat ut cursus neque venenatis. Sed auctor imperdiet arcu quis dictum.
                    </p>
                    <p>
                    Sed ac mauris non sem bibendum luctus. Sed mi augue, congue ac ullamcorper ac, varius et eros. Nunc vitae leo vel lorem sollicitudin egestas. Curabitur tempus commodo tortor, vel ultrices nibh tempus quis. Vestibulum ut dolor nunc, eu mollis turpis. In neque justo, lobortis quis placerat at, volutpat nec felis. Ut adipiscing congue blandit.
                    </p>
                    <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at nisl nisi. Nunc consequat aliquam dui, nec rhoncus eros molestie eget. Duis tempor consectetur nunc non imperdiet. Vivamus arcu leo, placerat sit amet suscipit ac, tempor eget ante. Quisque lectus nisi, facilisis ut semper eget, dignissim non nunc. Integer venenatis dictum lacus vel faucibus. Fusce cursus sapien ut mi hendrerit ac porta diam condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sit amet sem lectus. Phasellus eleifend ligula nec nulla sagittis aliquam. Nullam et arcu sem. Duis risus urna, hendrerit quis ultricies a, tristique non lectus. Donec ante velit, aliquam nec volutpat et, placerat sit amet tellus. Donec dictum, ligula quis molestie euismod, metus tellus hendrerit felis, ut pellentesque diam eros eu ipsum. Sed sed risus libero.
                    </p>
                    <p>
                    Vivamus sed ante tortor. Donec arcu diam, vehicula ac aliquet sollicitudin, lobortis in lectus. Aenean commodo rutrum diam, in feugiat neque placerat in. Ut tincidunt, orci sit amet condimentum auctor, lectus mi ultrices est, cursus malesuada velit leo sed tellus. Nam at nisi sit amet odio hendrerit mattis. Aenean feugiat ultricies metus eu sollicitudin. Integer et tortor metus, quis rutrum lectus. Phasellus tortor turpis, placerat ut molestie sit amet, gravida nec leo. Donec sed mattis dui. Nunc erat libero, dictum sit amet dignissim vel, rhoncus porta enim. Maecenas id enim sit amet nisl eleifend convallis sit amet ut est. Quisque convallis gravida suscipit. Curabitur leo est, pulvinar in rhoncus at, euismod vitae nunc. Phasellus lacinia pharetra quam at condimentum. In eu odio velit. Vivamus dictum tincidunt suscipit.
                    </p>
                    <p>
                    Vestibulum euismod arcu in mi malesuada adipiscing. Nam eget eleifend metus. Pellentesque tellus sem, mattis id varius quis, ultricies sed neque. Praesent luctus vulputate est, blandit vehicula leo varius nec. Aliquam erat volutpat. Integer in nisi nibh. Praesent imperdiet mattis metus, sed porta enim viverra ac. Sed bibendum erat nec justo molestie porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam facilisis egestas lacus ac aliquam. Donec hendrerit ullamcorper ligula vitae lacinia.
                    </p>
                    <p>
                    Nam leo arcu, placerat et fermentum ut, tempus ut odio. Sed commodo ornare nisl, ac condimentum nibh semper eget. Fusce enim ante, sodales ut volutpat eu, pretium in enim. Nullam pellentesque velit quis dolor porttitor posuere. Nam lacus diam, vestibulum et egestas vel, accumsan ut nisl. Vivamus tempus porttitor mauris non semper. Morbi molestie leo quis enim vehicula hendrerit. Duis ultricies enim at nunc imperdiet quis malesuada mi fermentum. Curabitur non semper nulla. Vivamus tincidunt gravida nulla, a tristique justo ultrices ac. Integer ullamcorper mi tristique arcu congue sit amet consectetur ante lobortis. Sed dictum dignissim nunc non aliquet. Sed semper enim in turpis posuere mollis.
                    </p>
                    <p>
                    Cras massa nisi, vulputate eu luctus ac, blandit eu lectus. Nunc nec nisi vitae est ullamcorper commodo. In feugiat ligula vitae justo condimentum cursus. Praesent a malesuada tellus. Duis et nibh eu elit iaculis consectetur vel ut urna. Vivamus at convallis risus. Cras lacinia congue posuere. In porta turpis eget enim facilisis euismod. Phasellus arcu augue, imperdiet tincidunt dapibus ac, porta egestas nulla. Aenean eget euismod elit. Pellentesque sed felis ac nulla viverra pretium. Sed aliquam, purus non hendrerit volutpat, velit tellus condimentum odio, accumsan laoreet massa ante eget turpis.
                    </p>
                </div>            
            </li>

            <li class="pane3">
                <div class="pane-content">
                     <p>
                    Curabitur lobortis, velit vitae auctor auctor, turpis felis accumsan metus, non elementum elit ante a arcu. Phasellus massa leo, imperdiet eget sollicitudin non, sodales sed libero. Sed sodales, neque in pharetra laoreet, nulla enim consequat ligula, ut cursus nibh massa sed velit. Sed congue ultrices consequat. Phasellus molestie adipiscing ipsum, id hendrerit velit luctus eu. Nullam vitae libero nec magna pulvinar sollicitudin id nec tortor. Nulla at felis eget augue sollicitudin tristique. Donec iaculis scelerisque consequat. Aenean fringilla mattis tristique. Suspendisse potenti. Pellentesque varius elit ut justo mattis molestie. Suspendisse potenti. Pellentesque sagittis magna eget velit venenatis ac condimentum justo semper. Suspendisse sed feugiat enim. Cras aliquet urna sed massa placerat ut cursus neque venenatis. Sed auctor imperdiet arcu quis dictum.
                    </p>
                    <p>
                    Sed ac mauris non sem bibendum luctus. Sed mi augue, congue ac ullamcorper ac, varius et eros. Nunc vitae leo vel lorem sollicitudin egestas. Curabitur tempus commodo tortor, vel ultrices nibh tempus quis. Vestibulum ut dolor nunc, eu mollis turpis. In neque justo, lobortis quis placerat at, volutpat nec felis. Ut adipiscing congue blandit.
                    </p>
                    <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at nisl nisi. Nunc consequat aliquam dui, nec rhoncus eros molestie eget. Duis tempor consectetur nunc non imperdiet. Vivamus arcu leo, placerat sit amet suscipit ac, tempor eget ante. Quisque lectus nisi, facilisis ut semper eget, dignissim non nunc. Integer venenatis dictum lacus vel faucibus. Fusce cursus sapien ut mi hendrerit ac porta diam condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sit amet sem lectus. Phasellus eleifend ligula nec nulla sagittis aliquam. Nullam et arcu sem. Duis risus urna, hendrerit quis ultricies a, tristique non lectus. Donec ante velit, aliquam nec volutpat et, placerat sit amet tellus. Donec dictum, ligula quis molestie euismod, metus tellus hendrerit felis, ut pellentesque diam eros eu ipsum. Sed sed risus libero.
                    </p>
                    <p>
                    Vivamus sed ante tortor. Donec arcu diam, vehicula ac aliquet sollicitudin, lobortis in lectus. Aenean commodo rutrum diam, in feugiat neque placerat in. Ut tincidunt, orci sit amet condimentum auctor, lectus mi ultrices est, cursus malesuada velit leo sed tellus. Nam at nisi sit amet odio hendrerit mattis. Aenean feugiat ultricies metus eu sollicitudin. Integer et tortor metus, quis rutrum lectus. Phasellus tortor turpis, placerat ut molestie sit amet, gravida nec leo. Donec sed mattis dui. Nunc erat libero, dictum sit amet dignissim vel, rhoncus porta enim. Maecenas id enim sit amet nisl eleifend convallis sit amet ut est. Quisque convallis gravida suscipit. Curabitur leo est, pulvinar in rhoncus at, euismod vitae nunc. Phasellus lacinia pharetra quam at condimentum. In eu odio velit. Vivamus dictum tincidunt suscipit.
                    </p>
                    <p>
                    Vestibulum euismod arcu in mi malesuada adipiscing. Nam eget eleifend metus. Pellentesque tellus sem, mattis id varius quis, ultricies sed neque. Praesent luctus vulputate est, blandit vehicula leo varius nec. Aliquam erat volutpat. Integer in nisi nibh. Praesent imperdiet mattis metus, sed porta enim viverra ac. Sed bibendum erat nec justo molestie porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam facilisis egestas lacus ac aliquam. Donec hendrerit ullamcorper ligula vitae lacinia.
                    </p>
                </div> 
            </li>

            <li class="pane4">
                <div class="pane-content">
                    <p>
                    Vestibulum euismod arcu in mi malesuada adipiscing. Nam eget eleifend metus. Pellentesque tellus sem, mattis id varius quis, ultricies sed neque. Praesent luctus vulputate est, blandit vehicula leo varius nec. Aliquam erat volutpat. Integer in nisi nibh. Praesent imperdiet mattis metus, sed porta enim viverra ac. Sed bibendum erat nec justo molestie porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam facilisis egestas lacus ac aliquam. Donec hendrerit ullamcorper ligula vitae lacinia.
                    </p>
                    <p>
                    Nam leo arcu, placerat et fermentum ut, tempus ut odio. Sed commodo ornare nisl, ac condimentum nibh semper eget. Fusce enim ante, sodales ut volutpat eu, pretium in enim. Nullam pellentesque velit quis dolor porttitor posuere. Nam lacus diam, vestibulum et egestas vel, accumsan ut nisl. Vivamus tempus porttitor mauris non semper. Morbi molestie leo quis enim vehicula hendrerit. Duis ultricies enim at nunc imperdiet quis malesuada mi fermentum. Curabitur non semper nulla. Vivamus tincidunt gravida nulla, a tristique justo ultrices ac. Integer ullamcorper mi tristique arcu congue sit amet consectetur ante lobortis. Sed dictum dignissim nunc non aliquet. Sed semper enim in turpis posuere mollis.
                    </p>
                    <p>
                    Cras massa nisi, vulputate eu luctus ac, blandit eu lectus. Nunc nec nisi vitae est ullamcorper commodo. In feugiat ligula vitae justo condimentum cursus. Praesent a malesuada tellus. Duis et nibh eu elit iaculis consectetur vel ut urna. Vivamus at convallis risus. Cras lacinia congue posuere. In porta turpis eget enim facilisis euismod. Phasellus arcu augue, imperdiet tincidunt dapibus ac, porta egestas nulla. Aenean eget euismod elit. Pellentesque sed felis ac nulla viverra pretium. Sed aliquam, purus non hendrerit volutpat, velit tellus condimentum odio, accumsan laoreet massa ante eget turpis.
                    </p>
                </div> 
            </li>

            <li class="pane5">
                <div class="pane-content">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac accumsan lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi faucibus porttitor purus quis scelerisque. Etiam interdum commodo ligula sagittis volutpat. Vestibulum tellus nunc, fermentum nec sodales eu, varius id dui. Integer aliquam pellentesque justo nec vulputate. Proin in sagittis sapien. Suspendisse turpis diam, molestie quis eleifend eget, ultricies vitae nunc.
                    </p>
                    <p>
                    Nullam id diam urna. Suspendisse fringilla, risus at viverra elementum, erat nulla ultricies risus, vel semper sapien quam sit amet tellus. Nullam posuere nulla ut libero fringilla in mattis nulla auctor. Aenean sagittis ante in tellus faucibus dictum. In pellentesque orci non urna commodo sed aliquam ipsum posuere. Vivamus fermentum turpis vel nibh gravida fermentum at id orci. Nullam in ultricies est. Phasellus pharetra nunc dictum nisl lacinia pretium. Donec rhoncus, mauris tempus dapibus laoreet, lectus ligula venenatis ante, sed faucibus erat felis eu turpis. Cras vitae tellus sit amet augue ultricies tristique sit amet quis lectus. Nullam fringilla nisi non nisl placerat quis egestas nisl consequat. Donec et felis euismod velit semper condimentum ac vitae metus. Proin suscipit ipsum pretium magna gravida eu aliquam dolor mollis. Ut bibendum odio non dui ullamcorper sit amet pellentesque sem cursus.
                    </p>
                    <p>
                    Curabitur lobortis, velit vitae auctor auctor, turpis felis accumsan metus, non elementum elit ante a arcu. Phasellus massa leo, imperdiet eget sollicitudin non, sodales sed libero. Sed sodales, neque in pharetra laoreet, nulla enim consequat ligula, ut cursus nibh massa sed velit. Sed congue ultrices consequat. Phasellus molestie adipiscing ipsum, id hendrerit velit luctus eu. Nullam vitae libero nec magna pulvinar sollicitudin id nec tortor. Nulla at felis eget augue sollicitudin tristique. Donec iaculis scelerisque consequat. Aenean fringilla mattis tristique. Suspendisse potenti. Pellentesque varius elit ut justo mattis molestie. Suspendisse potenti. Pellentesque sagittis magna eget velit venenatis ac condimentum justo semper. Suspendisse sed feugiat enim. Cras aliquet urna sed massa placerat ut cursus neque venenatis. Sed auctor imperdiet arcu quis dictum.
                    </p>
                    <p>
                    Sed ac mauris non sem bibendum luctus. Sed mi augue, congue ac ullamcorper ac, varius et eros. Nunc vitae leo vel lorem sollicitudin egestas. Curabitur tempus commodo tortor, vel ultrices nibh tempus quis. Vestibulum ut dolor nunc, eu mollis turpis. In neque justo, lobortis quis placerat at, volutpat nec felis. Ut adipiscing congue blandit.
                    </p>
                    <p>
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at nisl nisi. Nunc consequat aliquam dui, nec rhoncus eros molestie eget. Duis tempor consectetur nunc non imperdiet. Vivamus arcu leo, placerat sit amet suscipit ac, tempor eget ante. Quisque lectus nisi, facilisis ut semper eget, dignissim non nunc. Integer venenatis dictum lacus vel faucibus. Fusce cursus sapien ut mi hendrerit ac porta diam condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sit amet sem lectus. Phasellus eleifend ligula nec nulla sagittis aliquam. Nullam et arcu sem. Duis risus urna, hendrerit quis ultricies a, tristique non lectus. Donec ante velit, aliquam nec volutpat et, placerat sit amet tellus. Donec dictum, ligula quis molestie euismod, metus tellus hendrerit felis, ut pellentesque diam eros eu ipsum. Sed sed risus libero.
                    </p>
                    <p>
                    Vivamus sed ante tortor. Donec arcu diam, vehicula ac aliquet sollicitudin, lobortis in lectus. Aenean commodo rutrum diam, in feugiat neque placerat in. Ut tincidunt, orci sit amet condimentum auctor, lectus mi ultrices est, cursus malesuada velit leo sed tellus. Nam at nisi sit amet odio hendrerit mattis. Aenean feugiat ultricies metus eu sollicitudin. Integer et tortor metus, quis rutrum lectus. Phasellus tortor turpis, placerat ut molestie sit amet, gravida nec leo. Donec sed mattis dui. Nunc erat libero, dictum sit amet dignissim vel, rhoncus porta enim. Maecenas id enim sit amet nisl eleifend convallis sit amet ut est. Quisque convallis gravida suscipit. Curabitur leo est, pulvinar in rhoncus at, euismod vitae nunc. Phasellus lacinia pharetra quam at condimentum. In eu odio velit. Vivamus dictum tincidunt suscipit.
                    </p>
                    <p>
                    Vestibulum euismod arcu in mi malesuada adipiscing. Nam eget eleifend metus. Pellentesque tellus sem, mattis id varius quis, ultricies sed neque. Praesent luctus vulputate est, blandit vehicula leo varius nec. Aliquam erat volutpat. Integer in nisi nibh. Praesent imperdiet mattis metus, sed porta enim viverra ac. Sed bibendum erat nec justo molestie porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam facilisis egestas lacus ac aliquam. Donec hendrerit ullamcorper ligula vitae lacinia.
                    </p>
                </div> 
            </li>*@
        </ul>
    </div>
</div>

<div style="display:none;">
    <div class="column" id="columnTemplate">
        <div class="column-content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis leo non lacus faucibus suscipit. Morbi nec purus mauris. Fusce eleifend nunc vitae ante fringilla at commodo diam ultricies. Vestibulum pulvinar mauris ut lectus mollis in cursus nibh facilisis. Suspendisse venenatis suscipit vulputate. Nulla tincidunt malesuada tempus. Nullam elit lectus, sodales a porttitor et, condimentum id nisl. Fusce in mi pellentesque est imperdiet tristique. Vivamus vestibulum sapien ut sem lobortis auctor bibendum enim viverra. Pellentesque sit amet auctor nulla. In iaculis molestie dignissim. Vivamus sollicitudin vestibulum odio, a lobortis ligula porta at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac accumsan lorem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi faucibus porttitor purus quis scelerisque. Etiam interdum commodo ligula sagittis volutpat. Vestibulum tellus nunc, fermentum nec sodales eu, varius id dui. Integer aliquam pellentesque justo nec vulputate. Proin in sagittis sapien. Suspendisse turpis diam, molestie quis eleifend eget, ultricies vitae nunc.
            </p>
            <p>
            Nullam id diam urna. Suspendisse fringilla, risus at viverra elementum, erat nulla ultricies risus, vel semper sapien quam sit amet tellus. Nullam posuere nulla ut libero fringilla in mattis nulla auctor. Aenean sagittis ante in tellus faucibus dictum. In pellentesque orci non urna commodo sed aliquam ipsum posuere. Vivamus fermentum turpis vel nibh gravida fermentum at id orci. Nullam in ultricies est. Phasellus pharetra nunc dictum nisl lacinia pretium. Donec rhoncus, mauris tempus dapibus laoreet, lectus ligula venenatis ante, sed faucibus erat felis eu turpis. Cras vitae tellus sit amet augue ultricies tristique sit amet quis lectus. Nullam fringilla nisi non nisl placerat quis egestas nisl consequat. Donec et felis euismod velit semper condimentum ac vitae metus. Proin suscipit ipsum pretium magna gravida eu aliquam dolor mollis. Ut bibendum odio non dui ullamcorper sit amet pellentesque sem cursus.
            </p>
            <p>
            Curabitur lobortis, velit vitae auctor auctor, turpis felis accumsan metus, non elementum elit ante a arcu. Phasellus massa leo, imperdiet eget sollicitudin non, sodales sed libero. Sed sodales, neque in pharetra laoreet, nulla enim consequat ligula, ut cursus nibh massa sed velit. Sed congue ultrices consequat. Phasellus molestie adipiscing ipsum, id hendrerit velit luctus eu. Nullam vitae libero nec magna pulvinar sollicitudin id nec tortor. Nulla at felis eget augue sollicitudin tristique. Donec iaculis scelerisque consequat. Aenean fringilla mattis tristique. Suspendisse potenti. Pellentesque varius elit ut justo mattis molestie. Suspendisse potenti. Pellentesque sagittis magna eget velit venenatis ac condimentum justo semper. Suspendisse sed feugiat enim. Cras aliquet urna sed massa placerat ut cursus neque venenatis. Sed auctor imperdiet arcu quis dictum.
            </p>
            <p>
            Sed ac mauris non sem bibendum luctus. Sed mi augue, congue ac ullamcorper ac, varius et eros. Nunc vitae leo vel lorem sollicitudin egestas. Curabitur tempus commodo tortor, vel ultrices nibh tempus quis. Vestibulum ut dolor nunc, eu mollis turpis. In neque justo, lobortis quis placerat at, volutpat nec felis. Ut adipiscing congue blandit.
            </p>
            <p>
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at nisl nisi. Nunc consequat aliquam dui, nec rhoncus eros molestie eget. Duis tempor consectetur nunc non imperdiet. Vivamus arcu leo, placerat sit amet suscipit ac, tempor eget ante. Quisque lectus nisi, facilisis ut semper eget, dignissim non nunc. Integer venenatis dictum lacus vel faucibus. Fusce cursus sapien ut mi hendrerit ac porta diam condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sit amet sem lectus. Phasellus eleifend ligula nec nulla sagittis aliquam. Nullam et arcu sem. Duis risus urna, hendrerit quis ultricies a, tristique non lectus. Donec ante velit, aliquam nec volutpat et, placerat sit amet tellus. Donec dictum, ligula quis molestie euismod, metus tellus hendrerit felis, ut pellentesque diam eros eu ipsum. Sed sed risus libero.
            </p>
            <p>
            Vivamus sed ante tortor. Donec arcu diam, vehicula ac aliquet sollicitudin, lobortis in lectus. Aenean commodo rutrum diam, in feugiat neque placerat in. Ut tincidunt, orci sit amet condimentum auctor, lectus mi ultrices est, cursus malesuada velit leo sed tellus. Nam at nisi sit amet odio hendrerit mattis. Aenean feugiat ultricies metus eu sollicitudin. Integer et tortor metus, quis rutrum lectus. Phasellus tortor turpis, placerat ut molestie sit amet, gravida nec leo. Donec sed mattis dui. Nunc erat libero, dictum sit amet dignissim vel, rhoncus porta enim. Maecenas id enim sit amet nisl eleifend convallis sit amet ut est. Quisque convallis gravida suscipit. Curabitur leo est, pulvinar in rhoncus at, euismod vitae nunc. Phasellus lacinia pharetra quam at condimentum. In eu odio velit. Vivamus dictum tincidunt suscipit.
            </p>
            <p>
            Vestibulum euismod arcu in mi malesuada adipiscing. Nam eget eleifend metus. Pellentesque tellus sem, mattis id varius quis, ultricies sed neque. Praesent luctus vulputate est, blandit vehicula leo varius nec. Aliquam erat volutpat. Integer in nisi nibh. Praesent imperdiet mattis metus, sed porta enim viverra ac. Sed bibendum erat nec justo molestie porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam facilisis egestas lacus ac aliquam. Donec hendrerit ullamcorper ligula vitae lacinia.
            </p>
            <p>
            Nam leo arcu, placerat et fermentum ut, tempus ut odio. Sed commodo ornare nisl, ac condimentum nibh semper eget. Fusce enim ante, sodales ut volutpat eu, pretium in enim. Nullam pellentesque velit quis dolor porttitor posuere. Nam lacus diam, vestibulum et egestas vel, accumsan ut nisl. Vivamus tempus porttitor mauris non semper. Morbi molestie leo quis enim vehicula hendrerit. Duis ultricies enim at nunc imperdiet quis malesuada mi fermentum. Curabitur non semper nulla. Vivamus tincidunt gravida nulla, a tristique justo ultrices ac. Integer ullamcorper mi tristique arcu congue sit amet consectetur ante lobortis. Sed dictum dignissim nunc non aliquet. Sed semper enim in turpis posuere mollis.
            </p>
            <p>
            Cras massa nisi, vulputate eu luctus ac, blandit eu lectus. Nunc nec nisi vitae est ullamcorper commodo. In feugiat ligula vitae justo condimentum cursus. Praesent a malesuada tellus. Duis et nibh eu elit iaculis consectetur vel ut urna. Vivamus at convallis risus. Cras lacinia congue posuere. In porta turpis eget enim facilisis euismod. Phasellus arcu augue, imperdiet tincidunt dapibus ac, porta egestas nulla. Aenean eget euismod elit. Pellentesque sed felis ac nulla viverra pretium. Sed aliquam, purus non hendrerit volutpat, velit tellus condimentum odio, accumsan laoreet massa ante eget turpis.
            </p>
        </div>
    </div>
</div>

<script src="/Scripts/app/logger.js"></script>
<script src="/Scripts/app/episodeRepository.js"></script>
<script src="/Scripts/app/ui.js"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/viewmodels/episodesViewModel.js"></script>
<script src="/Scripts/viewmodels/b.js"></script>