<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title"><a href="~/">Episodes</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div id="episodeList">
            <ul data-bind="foreach: episodes">
                <li>
                    <form>
                    <span data-bind="text: Title"></span>
                    <input type="checkbox" data-bind="checked: ListenedTo">
                    </form>
                </li>
            </ul>
        </div>
        <!--<div id="logmessages">-->
        </div>
    </section>
</div>
<script src="/Scripts/app/logger.js"></script>
<script src="/Scripts/app/episodeRepository.js"></script>
<script src="/Scripts/viewmodels/episodesViewModel.js"></script>
