@using BigShelf.Models
@{
    var profile = (Profile)ViewBag.UserProfile;
}
<header>
    <div class="logo">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/Images/header-logo.png" />
        </a>
    </div>
    <nav>
        <ul>
            @if (!Request.IsAuthenticated) {
                <li>@Html.ActionLink("Log In", "LogIn", "Account")</li>
            } else {
                <li>Welcome, @Html.ActionLink(profile.EmailAddress, "Index", "Profile")!</li>
                <li>@Html.ActionLink("Log Out", "LogOut", "Account")</li>
            }
        </ul>
    </nav>
</header>