<div class="sortAndFilter">
    <label>Show me:</label>
    <ul data-bind="foreach: filterOptions">
        <li data-bind="text: text, 
                       click: $parent.selectFilterOption,
                       css: { selected: $parent.nav.params().filter == id }"></li>
    </ul>

    <label>Sort by:</label>
    <ul data-bind="foreach: sortOptions">
        <li data-bind="text: text, 
                       click: $parent.selectSortOption,
                       css: { selected: $parent.nav.params().sort == id }"></li>
    </ul>

    <input data-bind="value: searchString, valueUpdate: 'afterkeydown'" placeholder="Search books..." />

    <p data-bind="visible: nav.params().filter == 'friends'">
        <label>Show friends:</label>
        <span data-bind="foreach: allFriends">
            <label>
                <input type="checkbox" data-bind="value: FriendId, checked: $parent.chosenFriendIds" />
                <span data-bind="text: Name"></span>
            </label>
        </span>
    </p>
</div>