@model string
<section class="tab" id="authViewModel">
    <header class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                    </span>
                </button>
                <span class="navbar-brand"><span>Smart</span>Reminder</span>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li data-bind="visible: showDisconnect">
                        <a href="@Url.Action("Disconnect", "Account")" data-bind="confirm: {
                        title: 'Disconnect from Squirrel',
                        text: 'Disconnecting will remove the association with your google account and clear all data, are you sure?'
                    }">Disconnect</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="gplus-button" title="Sign in with Google" role="button" data-bind="click: signIn, visible: showSignInButton">
            <div class="gplus-button-logo"></div><div class="gplus-button-text">Sign in</div>
        </div>
        <div class="info" data-bind="text: authMessage, visible: showAuthMessage">
        </div>
    </div>
</section>
<section class="tab" id="remindersViewModel">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 margin-bottom">
                <button type="button" class="btn btn-red" data-bind="visible: showAddNewReminder, click: createReminder, css: { disabled: !canAddNewReminder() }">
                    <span class="icon icon-pencil"></span>Add Reminder
                </button>
            </div>
        </div>
        <div data-bind="foreachGroups: reminders">
            <div class="row">
                <div class="card-wrap" data-bind="foreach: $data">
                    <div data-bind="attr: { 'class': $parent.colClass }">
                        <article data-bind="
                        animateToState: inEditMode() ? 'edit' : 'display',
                        initialState: 'display',
                        attr: {
                            'class': 'card margin-bottom'
                        },
                        css: {
                            disabled: (!enabled() && !inEditMode()),
                            editing: inEditMode
                        }">
                            <div class="display">
                                <div class="body">
                                    <div data-bind="visible: name() !== '', text: name" class="name">
                                    </div>
                                    <textarea class="message" data-bind="value: message, expandingTextarea: true, finishedTyping: { property: message, action: $root.autoSaveReminder }, event: { focus: $root.messageOnFocus }"></textarea>
                                </div>
                                <div class="footer">
                                    <button class="link-emulate" data-bind="click: $root.beginEditReminder"><span class="glyphicon glyphicon-caret-down"></span></button>
                                </div>
                            </div>
                            <div class="edit">
                                <div class="body">
                                    <div class="form-group">
                                        <textarea rows="1" class="name" placeholder="Name" data-bind="value: name, expandingTextarea: true"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="1" class="message" placeholder="Message (required)" data-bind="value: message, expandingTextarea: true"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <select data-bind="options: availableEvents, optionsText: 'text', optionsValue: 'value', value: actionId, optionsCaption: 'Select an action'"></select>
                                        <input type="text" placeholder="Wifi SSID" data-bind="value: ssid, visible: showSSIDField"
                                               class="ssid margin-top-sm" />
                                        <input type="text" placeholder="Place name or address" data-bind="addressAutocomplete: placeName, visible: showAddressField"
                                               class="margin-top-sm" />
                                    </div>
                                    <div class="form-group">
                                        <div class="time-shortcuts quiet">
                                            <button data-bind="setTimePeriod: 'AM', css: { toggleButton: true, active: isSetToAM }">
                                                AM
                                            </button>
                                            |
                                            <button data-bind="setTimePeriod: 'PM', css: { toggleButton: true, active: isSetToPM }">
                                                PM
                                            </button>
                                            |
                                            <button data-bind="setTimePeriod: 'Whenever', css: { toggleButton: true, active: isSetToWhenever }">
                                                Whenever
                                            </button>
                                        </div>
                                        <div class="input-group bootstrap-timepicker">
                                            <input type="text" class="input-small timepicker" placeholder="Start time (required)"
                                                   data-bind="timePicker: startTime" /><span class="glyphicon glyphicon-time glyphicon-timepicker"></span>
                                        </div>
                                        <div class="input-group bootstrap-timepicker">
                                            <input type="text" class="input-small timepicker" placeholder="End time (required)"
                                                   data-bind="timePicker: endTime" /><span class="glyphicon glyphicon-time glyphicon-timepicker"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="days" data-bind="foreach: availableDays, css: { 'validation-highlight': propertiesWithErrors.indexOf('days') > -1 }">
                                            <button data-bind="text: name, click: $parent.toggleDay, css: { toggleButton: true, active: $parent.isDaySelected($data) }"></button>
                                        </div>
                                    </div>
                                    <div class="padding-top-sm">
                                        <button class="link-emulate" data-bind="click: toggleRepeat">
                                            <i class="icon-checkbox-checked" data-bind="visible: repeat"></i><i data-bind="visible: !repeat()"
                                                                                                                class="icon-checkbox-unchecked"></i>Repeat
                                        </button>
                                    </div>
                                    <div class="padding-top-sm">
                                        <div class="enable-actions">
                                            <button class="link-emulate" data-bind="click: toggleEnabled">
                                                <i class="icon-checkbox-checked" data-bind="visible: enabled"></i><i data-bind="visible: !enabled()"
                                                                                                                     class="icon-checkbox-unchecked"></i>Enabled
                                            </button>
                                        </div>
                                    </div>
                                    <div data-bind="foreach: errors">
                                        <div class="validation-error" data-bind="text: $data">
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <button class="link-emulate" data-bind="
                            text: 'Save',
                            click: $root.manualSaveReminder,
                            css: {
                                busy: isSaving,
                                disabled: isDeleting
                            }"></button><button class="link-emulate" data-bind="
                            text: 'Cancel',
                            click: $root.cancelCurrentAction
                            "></button><button class="link-emulate" data-bind="
                                click: $root.attemptDeleteReminder,
                                text: isDeleting() ? 'Really?' : 'Delete'
                            "></button>
                                </footer>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" data-bind="css: { active: isLoadingReminders }">
        <div class="duo duo1">
            <div class="dot dot-a">
            </div>
            <div class="dot dot-b">
            </div>
        </div>
        <div class="duo duo2">
            <div class="dot dot-a">
            </div>
            <div class="dot dot-b">
            </div>
        </div>
    </div>
</section>
@section scripts
{
        <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=en"></script>
        <script src="~/signalr/hubs"></script>

        @Scripts.Render("~/bundles/index")

        <script>
            $(function () {
                sr.init(@Html.Raw(Model));
            });
        </script>
}
