<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/"><span>Smart</span>Reminder</a></p>
        </div>
        <div class="float-right">@Html.ActionLink("Logout", "LogOff", "Account", null, null)</div>
    </div>
</header>

<div id="body">
    <div class="row">
        <div class="span12 margin-bottom">
            <button type="button" class="btn" data-bind="click: createReminder, visible: !editing()"><span class="icon-pencil"></span> Add Reminder</button>
        </div>
    </div>

    <section class="row" data-bind="foreach: reminders">
        <article class="span3 card margin-bottom">
            <div data-bind="visible: !editing()">
                <div class="body">
                    <p data-bind="text: message"></p>
                </div>
                <footer data-bind="visible: !$root.editing()">
                    <span class="icon-menu-2 link-emulate" data-bind="click: $root.editReminder"></span>
                    <span class="icon-remove link-emulate" data-bind="click: $root.deleteReminder"></span>
                </footer>   
            </div>   
            <div class="body" data-bind="visible: editing"> 
                <input type="text" placeholder="Name" data-bind="value: name" /><br />
                <textarea type="text" placeholder="Message" data-bind="value: message" rows="3"></textarea> <br />
                <select data-bind="options: availableEvents, optionsText: 'text', optionsValue: 'value', value: actionId, optionsCaption: 'Select an action'"></select><br />
                <div class="input-append bootstrap-timepicker">
                    <input type="text" class="input-small timepicker" placeholder="Start time" data-bind="value: startTimeDisplay" /><span class="add-on"><i class="icon-time"></i></span><br />
                </div>
                <div class="input-append bootstrap-timepicker">
                    <input type="text" class="input-small timepicker" placeholder="End time" data-bind="value: endTimeDisplay" /><span class="add-on"><i class="icon-time"></i></span> 
                </div>
                <div class="days" data-bind="foreach: availableDays">
                    <span data-bind="text: name, click: $parent.dayClick, css: { selected: $parent.isSelectedDay($data), 'link-emulate': true }"></span>
                </div>
                <div class="actions">         
                    <button type="button" class="btn btn-small" data-bind="click: $root.endEdit"><span class="icon-disk"></span> Save</button>
                    <button type="button" class="btn btn-small btn-cancel" href="#" data-bind="click: $root.cancelEdit">Cancel</button>
                </div>
            </div>  
        </article>
    </section>

</div>

@section scripts
{
<script src="@Url.Content("~/Scripts/models/reminder.js")"></script>
<script src="@Url.Content("~/Scripts/viewmodels/appViewModel.js")"></script>
<script src="@Url.Content("~/Scripts/sr.js")"></script>
}


