@model Squirrel.Models.Reminder
<!-- View is not wired up to view model yet  -->

<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/"><span>Smart</span>Reminder</a></p>
        </div>
    </div>
</header>
<div id="body">
    <article class="card">
        <p>
            ASP.NET Web API allows you to expose your applications, data and services to the
            web directly over HTTP.
        </p>
        <footer>
            <span>active</span><span>delete</span><span>details</span>
        </footer>           
    </article>
    
    <section>
        <form>
            <div style="margin-top:10px;">
                <input type="text" placeholder="Name" />
            </div>
            <div style="margin-top:10px;">
                <textarea placeholder="Message"></textarea>
            </div>
            <div style="margin-top:10px;">
                <select>
                    <option>Hardware event</option>
                    <option>Event one</option>
                    <option>Event two</option>
                </select>
            </div>
            <div style="margin-top:10px;">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:;"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:;" data-value="Test Option 1">Test Option 1</a></li>
                    <li><a href="javascript:;" data-value="Test Option 2">Test Option 2</a></li>
                    <li><a href="javascript:;" data-value="With Value">Test Option 3</a></li>
                </ul>
            </div>
        </form>
        <form> 
                @Html.ValidationSummary(true) 
 
                <fieldset> 
                    <legend>Contact</legend> 
 
                    @Html.EditorForModel() 
 
                    <p> 
                        <input type="submit" value="Save" /> 
                    </p> 
                </fieldset> 
            </form>

    </section>
</div>
@section scripts
{
<script src="@Url.Content("~/Scripts/sr.js")"></script>
<script src="/Scripts/viewmodels/remindersViewModel.js"></script>
}


