/* Fonts
------------------------------------------------*/

@font-face {
    font-family: 'SansationLight';
    src: url('fonts/Sansation_Light-webfont.eot');
    src: url('fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Light-webfont.woff') format('woff'),
         url('fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('fonts/Sansation_Bold-webfont.eot');
    src: url('fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Layout
------------------------------------------------*/

body 
{
    padding: 0;
    background-color: #E5E5E5;
}
#body 
{
    padding: 60px 20px 20px;
    clear: both;
}
.navbar-fixed-top  .navbar-inner 
{
    padding-left: 0;
    padding-right: 0;
}

/* Forms
------------------------------------------------*/

.validation-highlight
{
    border: 1px solid #CC3B29; 
}

.validation-error
{
    color: #CC3B29;
    font-style: italic;
    font-weight: normal;
}

input[type="text"],
textarea 
{
    border: 0px solid #808080;
    border-bottom-width: 1px;
    border-radius: 0px;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: normal;
    outline: none;
    width: 100%;
}
.input-append .add-on ,
.input-append .add-on:last-child
{
    border: 0px solid #808080;
    border-bottom-width: 1px;
    border-radius: 0px;
    background: none;
    position: relative;
    margin-left: -26px;
}
select 
{
    width: 100%;
    border-radius: 0px;
}
::-webkit-input-placeholder {
   font-style: italic;
   line-height: 1.4em;
}
:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}
:-ms-input-placeholder {  
   font-style: italic;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #808080;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus {
    z-index: 0;
}
select 
{
    border: 1px solid #fff;
    border-bottom-color: #808080;
    padding-left: 0px;
}
.btn 
{
    background: #fff;
    color: #33b5e5;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: none;
}
.btn.active:not(.disabled),
.btn:active:not(.disabled) 
{
    position: relative;
    bottom: -1px;
    background-color: #fff;
    -webkit-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;   
}
.btn:hover 
{
    background: #fff;
    color: #0099cc;
}
.btn.disabled
{
    color: #ccc;
    background: #fff;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    margin-top: 2px;
}
button span.icon {
    margin-right: 5px;
}

.checkbox, .radio {
	width: 100px;
	height: 29px;
	padding: 0 5px 0 0;
	background: url('images/checkbox.png') no-repeat;
	display: block;
	clear: left;
	float: left;
}

/* Utilities
------------------------------------------------*/

.link-emulate 
{
    color: #33b5e5;
}
.link-emulate:hover 
{
    cursor: pointer;
    color: #0099cc;
}
.margin-bottom 
{
    margin-bottom: 20px;
}
.float-left
{
    float: left;
}
.float-right
{
    float:right;
}
.icon-large
{
    font-size: 32px;    
}
.image-replace
{
    text-indent: -9999px;
}
.invisible-transition
{
    opacity: 1;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}
.invisible
{
    visibility: visible;
    opacity: 0;
}
button.link-emulate
{
    padding: 0;
    background: none;
    border: none;
}
.busy
{
    -webkit-animation-name: bluePulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-name: bluePulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

/* Misc
------------------------------------------------*/

.btn.add-reminder 
{
    background: #CC3B29;
    text-shadow: none;
    color: #fff;
}
.btn.add-reminder:hover 
{
    background: #D52E18;
}
.navbar-text a
{
    color: #fff;
}
.navbar-text a:hover
{
    color: #fff;
    text-decoration: underline;
}

/* card */
.card 
{
    position: relative;
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    border-radius: 2px; 
    -webkit-transition: box-shadow 250ms ease-in-out, opacity 250ms ease-in-out;
    -moz-transition: box-shadow 250ms ease-in-out, opacity 250ms ease-in-out;
    -o-transition: box-shadow 250ms ease-in-out, opacity 250ms ease-in-out;
    transition: box-shadow 250ms ease-in-out, opacity 250ms ease-in-out;
}
.card.editing
{
    box-shadow: 0px 4px 8px rgba(100,100,100,0.2);
}
.card.disabled
{
    opacity: 50%;
}
.card .display .body 
{    
    padding: 20px;
}
.card .edit .body 
{    
    padding: 20px 20px 10px;
}
.card .time-shortcuts button
{
    font-weight: bold;
}
.enable-actions
{
    margin-top: 10px;
}
.card h2
{
    font-family: 'Segoe UI Light','wf_SegoeUILight','Segoe UI','wf_SegoeUI',Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-top: 0;
}
.card .message
{
    font-style: italic;
    margin: 0;
}
.card textarea
{
    height: 1.4em;
    overflow: hidden;
}
.card textarea.name
{
    font-family: 'Segoe UI Light','wf_SegoeUILight','Segoe UI','wf_SegoeUI',Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
}
.card .bootstrap-timepicker 
{
    width: 100%;
}
.card .days 
{
    cursor: pointer;
    font-weight: bold;
    color: #808080;
}
.card .days .selected 
{
    color: #33b5e5;
}
.card footer 
{
    border-top: 1px solid #d1eaf1;
    padding: 0px;
}
.card .display .body button
{
    width: 24px;
    border: none;
    height: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
}
.card .edit
{
    /*opacity: 0;*/
}
.card .edit footer button
{    
    width: 33.3%;
    border-left: 1px solid #d1eaf1;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
}
.card .edit footer button:first-child
{
    border-left: 0px;
}
.card-wrap
{
    clear: both;
}

@media (max-width: 480px) 
{
    .container-fluid 
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .navbar-fixed-top
    {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) 
{
    .site-title a
    {
        font-family: 'SansationLight';
        font-size: 24px;
        color: #666;
    }
}
@media (max-width: 979px)
{
    #body
    {
        padding-top: 0;
    }    
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@-webkit-keyframes bluePulse 
{
    from { background-color: #fff; }
    50% { background-color: #DAEEF5; }
    to { background-color: #fff; }
}
@-moz-keyframes bluePulse 
{
    from { background-color: #fff; }
    50% { background-color: #DAEEF5; }
    to { background-color: #fff; }
}
@keyframes bluePulse 
{
    from { background-color: #fff; }
    50% { background-color: #DAEEF5; }
    to { background-color: #fff; }
}