/* Fonts
------------------------------------------------*/

@font-face {
    font-family: 'SansationLight';
    src: url('fonts/Sansation_Light-webfont.eot');
    src: url('fonts/Sansation_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Light-webfont.woff') format('woff'),
         url('fonts/Sansation_Light-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Light-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('fonts/Sansation_Bold-webfont.eot');
    src: url('fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Bold-webfont.svg#SansationBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Layout
------------------------------------------------*/

body 
{
    padding: 20px;
    background: #eee;
}
#body 
{
    clear: both;
}

/* Forms
------------------------------------------------*/

input[type="text"],
textarea 
{
    border: 0px solid #808080;
    border-bottom-width: 1px;
    border-radius: 0px;
    box-shadow: none;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: normal;
    outline: none;
    width: 100%;
}
.input-append .add-on ,
.input-append .add-on:last-child
{
    border: 0px solid #808080;
    border-bottom-width: 1px;
    border-radius: 0px;
    background: none;
    position: relative;
    margin-left: -26px;
}
select 
{
    width: 100%;
    border-radius: 0px;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}
:-ms-input-placeholder {  
   font-style: italic;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: #808080;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.input-append input:focus, .input-prepend input:focus, .input-append select:focus, .input-prepend select:focus, .input-append .uneditable-input:focus, .input-prepend .uneditable-input:focus {
    z-index: 0;
}
select 
{
    border: 1px solid #fff;
    border-bottom-color: #808080;
    padding-left: 0px;
}
button.btn 
{
    background: #fff;
    border-radius: 0px;
    border: 1px solid #999;
}
button.btn.btn-cancel 
{
    background: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Utilities
------------------------------------------------*/

.link-emulate 
{
    cursor: pointer;
}
.margin-bottom 
{
    margin-bottom: 20px;
}
.float-left
{
    float: left;
}
.float-right
{
    float:right;
}
.icon-large
{
    font-size: 32px;
}
.image-replace
{
    text-indent: -9999px;
}

/* Misc
------------------------------------------------*/

.site-title a
{
    font-family: 'SansationLight';
    font-size: 32px;
    color: #666;
}
.site-title a span
{
    font-family: 'SansationBold';
}
.site-title a:hover
{
    text-decoration: none;
}
.card 
{
    background: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
}
.card .body 
{    
    padding: 20px;
}
.card footer 
{
    font-size: 16px;
    border-top: 1px solid #f1f1f1;
    padding: 5px 20px
}
.card footer span
{
    color: #62b6d1;
    margin-right: 8px;
}
.card footer span:hover
{
    color: #4a97b4;
}
.days 
{
    font-weight: bold;
    color: #62b6d1;
}
.days .selected 
{
    color: #000;
}
.bootstrap-timepicker 
{
    width: 100%;
}
.actions .btn 
{
    margin-top: 10px;
}
.icon-remove 
{
    background: none;
}

@media (max-width: 767px) 
{
    .site-title a
{
    font-family: 'SansationLight';
    font-size: 24px;
    color: #666;
}
}