body 
{
    padding: 20px;
    background: #eee;
}

/* Forms
------------------------------------------------*/

input[type="text"],
textarea 
{
    border: 0px solid #808080;
    border-bottom-width: 1px;
    border-radius: 0px;
    box-shadow: none;
    padding-left: 0px;
    font-weight: normal;
    outline: none;
    width: 100%;
}
select 
{
    width: 100%;
    border-radius: 0px;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
   font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
   font-style: italic;
}
:-ms-input-placeholder {  
   font-style: italic;
}
select 
{
    border: 1px solid #fff;
    border-bottom-color: #808080;
    padding-left: 0px;
}

/* Utilities
------------------------------------------------*/

.link-emulate 
{
    cursor: pointer;
}
.margin-bottom 
{
    margin-bottom: 20px;
}

/* Misc
------------------------------------------------*/

.card 
{
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-shadow:  0px 0px 3px 1px rgba(100, 100, 100, 0.1);        
    box-shadow:  0px 0px 3px 1px rgba(100, 100, 100, 0.1);
}
.days 
{
    font-weight: bold;
    color: #999;
}
.days .selected 
{
    color: #000;
}